<header>
  <%= link_to root_url, class: 'wfa-link' do %>
    &larr; Back
  <% end %>
  <div class="row">
    <h5 class="center-align margin-bottom-10"><b><%= @job.job_id %></b></h5>
  </div>
</header>
<% if @job.healthy == false %>
  <div class="row red-text">
    <div class="s12 center-align">
      ⚠
      An error occurs during the last execution of this job.
      Check the log below for details.
    </div>
  </div>
<% end %>
<hr>
<pre id="job_log" class="responsive-overflow"><%= @job.log %></pre>

<script>
  // scrolls down to the bottom of the pre section
  var logs = document.getElementById("job_log");
  logs.scrollTop = logs.scrollHeight;
</script>